* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	text-rendering: optimizelegibility;
}
body,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
b,
u,
center,
form,
label,
legend,
footer,
header,
menu,
nav,
output,
summary {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: inherit;
	text-rendering: optimizelegibility;
}
body {
	font-size: 14px!important;
	background-color: white;
	color: rgb(51, 51, 51);
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
}

pre {
	font-size: 90%;

	/* font size 100% */
	/* line-height: 1.285; */

	/* font size 90% */
	line-height: 1.27;
}

a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}
#main-header {
	top: 0;
	z-index: 99;
	position: fixed;
	width: 100%;
}

#mobileNav {
	display: none;
}

.main-bar {
	min-height: 45px;
	background: rgba(0,0,0,0.9);
}

.header-float {
	max-width: 1400px;
	min-height: 28px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.page-wrap {
	padding-top: 73px;
	margin-left: auto;
	margin-right: auto;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

#header {
	display: block!important;
	position: relative;
}

#page-container {
	margin: 0 auto;
}

.not-found {
	font-size: 4vh;
	font-weight: 700;
}

.site-title .site-name {
	font-family: Roboto,Arial,Helvetica,sans-serif;

}
.site-name {
	font-weight: 700;
	font-size: 14px;
	margin-right: 8px;
	margin-left: 90px;
	margin-top: 3px;
	color: #212529;
}

.site-area {
	font-family: Roboto,Arial,Helvetica,sans-serif;
	font-size: 14px;
	margin-top: 3px;
}

.site-title {
	background: rgba(204, 204, 204, 0.9);
	height: 28px;
}

.site-title .header-float {
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
}

.site-logo {
	float: left;
	position: absolute;
	top: 10px;
	left: 15px;
	width: 65px;
	height: 45px;
	transition: all 0.2s ease-in-out;
	z-index: 2;
}

.reg {
	font-size: 11px;
	color: lightslategray;
	position: absolute;
	left: 65px;
	bottom: -14px;
	transition: all 0.2s ease-in-out;
}

.dropbtn {
	display: inline-block;
	cursor: pointer;
	background-color: black;
	color: #d0d0d0;
	padding: 0 8px;
	z-index: 3;
	line-height: 45px;
	font-weight: 600;
	text-decoration: none;
	font-size: 13.6px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border: none;
}


.sub-menu {
	color: #d0d0d0;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}


.sub-header {
	min-height: 28px;
	font-size: 1rem;
	min-width: 200px;
	vertical-align: middle;
	display: flex;
	flex-direction: row;
}

.options-block {
	padding-top: 1vh;
}

.legend:hover {
	background-color: gray;
}


.collapsible {
	cursor: pointer;
	/* padding: 18px; */
	width: 100%;
	border: none;
	text-align: left;
	font-size: 2em;
	outline: none;
	vertical-align: middle;
}

.collapsible-mobile.active,
.collapsible:hover {
	color: white !important;
}

.collapsible:before {
	display: inline-table;
	white-space: nowrap;
	content: "+";
	color: black;
	alt: "Click to Expand";
	text-align: center;
	vertical-align: middle;
	font-weight: 700;
	font-size: 3vh;
	float: left;
	margin-left: 1vw;
	margin-right: 1vw;
}

.collapsible:hover:before {
	color: white;
}

/*.content {
	padding: 0 18px;
	max-height: 0;
	width: 100%;
	overflow-x: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}*/

.sub-arrow-down {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-left: 0.3em solid transparent;
}

.sub-arrow-up {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	border-bottom: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-left: 0.3em solid transparent;
}

.fas {
	padding-left: 0.5em;
}

.fas.fa-caret-down {
	margin-left: 0.255em;
	margin-right: 0.255em;
}
.fas.fa-caret-right {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -0.4em;
	margin-right: 1em;
	width: 0;
	height: 0;
	float: right;
}

.mobile-hide {
	display: inline-block;
}

#skin-footer-background {
	background-color: #333;
	padding-bottom: 68px;
	padding-top: 32px;
}

/* Burger Bar */

.burger-bar {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	float: right;
	position: absolute;
	transition: all 0.2s ease-in-out;
	right: 0;
	top: 0;
	display: none;
	color: #ccc!important;
	font-size: inherit;
	cursor: pointer;
}

.overlay {
	height: 0;
	width: 0;
	position: fixed;
	z-index: -99;
	top: 0;
	right: 0;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	transition: 0.5s;
	padding: 0;
	visibility: hidden;
}

.overlay.open {
	width: 100%;
	height: 100%;
	padding: 32px;
	z-index: 99;
	visibility: visible;
}

.overlay-content {
	position: relative;
	color: white;
	top: 10%;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	text-align: left;
	z-index: 1;
}

.overlay a {
	text-decoration: none;
	color: white;
	transition: 0.3s;
	display: block;
}

.overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

.closebtn:hover::before {
	content: "";
}

.collapsible-mobile {
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	vertical-align: middle;
	border-left: 3px solid hsla(0,0%,100%,.3);
	border-bottom: 1px solid hsla(0,0%,100%,.3);
	line-height: 48px;
	padding: 0.25em 0;
}

.collapsible-mobile.active,
.collapsible-mobile:hover,
.home:hover {
	color: white !important;
}

.collapsible-mobile:before {
	display: inline-table;
	position: fixed;
	float: left;
	right: 5vw;
	white-space: nowrap;
	content: "+";
	color: white;
	alt: "Click to Expand";
	text-align: left;
	vertical-align: middle;
	font-weight: 400;
	font-size: 3vh;
	margin-left: 1vw;
	margin-right: 1vw;
	width: 1em;
	margin-top: -1px;
}

.overlay-content > .collapsible-mobile {
	border-left: inherit;
}

.content-mobile {
	width: 100%;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: transparent;
}

.active:before {
	content: "-";
	alt: "Click to Contract";
	color: white;
}

.site-logo:hover::before {
	content: "";
}

.content-mobile a:hover::before {
	color: white;
}

.home {
	color: white;
}

/* Sub Menu */

.top-level-menu {
	list-style: none;
	display: block;
	padding: 0;
	color: #d0d0d0;
	font-size: 13.6px;
	line-height: 45px;
	text-align: left;
	margin: 0;
}

.top-level-menu>li {
	position: relative;
	float: left;
	height: 45px;
	min-width: 50px;
}

.top-level-menu>li:hover {
	background-color: #555;
	color: white;
}

.top-level-menu li:hover>ul {
	/* On hover, display the next level's menu */
	display: inline;
	z-index: 99;
	background-color: rgba(85, 85, 85, 0.98);
	line-height: initial;
}

/* Menu Link Styles */

.top-level-menu a
/* Apply to all links inside the multi-level menu */
{
	color: #d0d0d0;
	text-decoration: none;
	padding: 0 8px;
	/* Make the link cover the entire list item-container */
	display: block;
	cursor: pointer;
	font-weight: 600;
	/* box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%); */
	border: none;
}

.top-level-menu a:hover {
	color: white;
	background-color: hsla(0,0%,100%,.2)!important;
}

.second-level-menu>li a,
.third-level-menu>li a {
	padding: 8px 16px;
}

.second-level-menu,
.third-level-menu
{
	box-shadow: 0 3px 5px rgb(0 0 0 / 40%);
}

.second-level-menu {
	position: absolute;
	top: 45px;
	left: 0;
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
	font-size: 13px;
	min-width: 10em;
	max-width: 26em;
	white-space: nowrap;
}

.second-level-menu>li {
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.second-level-menu>li:hover {
	background-color: rgb(121, 121, 121);
}

.third-level-menu {
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 100%;
	min-width: 10em;
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
}

.third-level-menu a {
	color: #333;
}

.third-level-menu>li {
	border-bottom: 1px solid rgba(0,0,0,.3);
	background-color: hsla(0,0%,80%,0.98);
	position: relative;
}

.third-level-menu>li a:hover {
	background-color: rgba(0,0,0,.1)!important;
	color: #000!important;
}

#desktop-menu {
	position: relative;
	left: auto;
	top: auto;
	width: auto;
	height: auto;
	padding-left: 82px;
}

/* Mobile Settings */

@media only screen and (max-width: 550px) {
	#content {
	}

	#mobile-menu {
		position: absolute;
		right: 15px;
		top: 0;
		line-height: 50px!important;
		text-align: right;
		display: inline-block;
	}

	#mobileNav {
		display: initial;
	}

	.burger-bar {
		display: inline-block;
	}

	.overlay .closebtn {
		font-size: 40px;
		top: -5px;
		right: 5px;
	}

	.page-title {
		font-size: 16pt;
	}

	.page-wrap {
		padding-top: 109px;
	}

	#desktop-menu {
		display: none;
	}

	.divider {
		display: none;
	}

	.main-bar {
		height: 50px;
	}

	.site-logo {
		float: left;
		position: absolute;
		top: 5px;
		width: 50px;
	}
	.site-logo img {
		width: auto;
		margin-bottom: 5px;
		height: 40px!important;
	}

	.reg {
		left: 53px;
		top: 28.5px;
		color: hsla(0,0%,100%,0.5)
	}

	.sub-header {
		width: 100%;
		padding: 0;
		flex-direction: column;
	}

	.site-title .header-float {
		margin-left: auto;
		margin-right: auto;
		height: auto;
	}

	.site-title {
		background-color: rgba(51, 51, 51, 0.95);
		padding: 5px 0;
		color: #e5e1e1;
		height: auto;
		line-height: 28px;
	}

	.site-area {
		display: flex;
		margin-left: 0;
		font-size: 18px;
		line-height: inherit;
		margin-top: 0;
		margin-bottom: 1px;
	}

	.site-name {
		display: flex;
		font-size: 18px;
		line-height: 12px;
		margin-top: 8px;
		color: inherit;
		margin-left: 0;
	}

	.options-block {
		display: block;
	}

	.mobile-hide {
		display: none;
	}

	.collapsible {
		width: 100% !important;
		height: 3vh !important;
		text-align: left !important;
	}

	.collapsible:before {
		margin-left: 0.5vw;
		margin-right: 2vw;
		text-align: match-parent;
		vertical-align: middle;
	}

	.menu-item, .sub-menu {
		border-left: 3px solid hsla(0,0%,100%,.3);
		border-bottom: 1px solid hsla(0,0%,100%,.3);
		min-height: 48px;
		line-height: 48px;
	}
	
	.menu-item:not(.content-mobile), .sub-menu{
		padding: 0.25em 3.0em;
	}
	.mobile-top-level-menu {
		position: relative;
		min-height: 48px;
		line-height: 48px;
		border-bottom: 1px solid hsla(0,0%,100%,.3);
	}

}

@media only screen and (max-width: 334px) {
	.page-wrap {
		padding-top: 125px;
	}

	.site-area {
		line-height: 20px;
		margin-top: 3.5px;
	}
}
