html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    height: 100%;
}

a:link,a:hover,a:visited,a:active {
    color: white;
    text-decoration: none;
}


#logo img{
    width: 5em;
    height: 5em;
}

#logo {
    padding-left: 6em;
    position: absolute;
    top: 0em;
    left: 0;
}

#nav_links {
    background-color: rgba(0,0,0,.9);
    color: white;
    min-height: 45px;
    width: 100%;
    z-index: 5;

}

#nav_links ul {
    list-style-type: none;
}

#nav_links ul li {
    display: inline-block;
    margin-right: .5em;

    font-size: x-large;
    padding: .2em 0;
    text-align: center;
}

#info {
    background-color: hsla(0,0%,80%,.9);
    font-size: 12px;
    line-height: 28px;
    width:100%;
    color:black;
}

#header {
    top: 0;
    left: 0;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    margin: 0;
    padding: 0;
    height: 3em;
    z-index: 1;
}

#header .filler {
    width: 12em;
    font-size: medium;
    height: 100%;
    float:left;
}

#content {
    min-height: 10em;
    padding-top: 5em;
}

#footer {
    display: inline-block;
}

#mission {

    width: 40%;
    margin-left: 4em;
    float: left;
    color: #ccc;
    font-size: larger;
}

#footer_links {
    width: 20%;
    margin-left: 10em;
    float: left;
}

#footer_army_links {
    width: 20%;
    float: left;
}

#footer_army_links img{
    width: 3em;
    height: 4em;
}

#nav_links ul {
    list-style-type: none;
}

#footer ul {
    width:100%;
}

#footer ul, #footer li {
    list-style-type: none;


}

.footer-text-links ul li {
    width: 50%;
    display: block;
    float: left;
    /*padding: .2em 0;*/
}

.footer-text-links ul a {
    width: 10em;
    min-width: 10em;
    margin-right: .5em;
    text-align: left;
    font-size: medium;
}

#footer .top {
    background-color: #333;
    color: white;
    padding: 0;
    margin: 0;
    z-index: 2;
    padding-bottom: 3em;
}

#footer_army_links {
    font-size: medium;
    width: 10em;
    text-align: center;
}

#footer .bottom {
    margin: 0;
    padding: 0;
    height:100%;
    background-color: #1b1b1b;
}

#footer .bottom img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: -4em;
    position: relative;
}

#content ul {
    list-style-type: initial;
}