<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>CDA GUI</display-name>
    <filter>
        <filter-name>SpaForwardFilter</filter-name>
        <filter-class>cwms.cda.ui.SpaForwardFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SpaForwardFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
