build
.gradle
**/build
**/.classpath
**/.project
**/.settings
**/bin
gradle.properties
.idea
kdata
pki/certs
compose.env
etl.env
.vscode
**/node_modules/
cwms-data-api/features.properties
cda-etl/logs
cda-etl/cache
**/.venv