#The following properties are required for the ./gradlew run task to work
# The actual values should be set in your personal ~/.gradle/gradle.properties file
# These are presented for example
CDA_JDBC_DRIVER=oracle.jdbc.driver.OracleDriver
CDA_JDBC_URL=jdbc:oracle:thin:@localhost/CWMSDB
# Or this format: CDA_JDBC_URL=jdbc:oracle:thin:@<hostname or ip>:<sid>
CDA_JDBC_USERNAME=username
CDA_JDBC_PASSWORD=password
CDA_LISTEN_PORT=7000

# Allows an override of the default `spk-data` context used in the gradle run task
cda.war.context=cwms-data

# If you have an existing oracle instance the integration tests can skip the 
# database setup and schema install process saving time.
# NOTE: the integration tests ASSUME, and MUST be able to ASSUME, that it has
# full control of that database. 
# Do not
#  - point test at production databases
#  - point tests at any database you can't easily recover
#  - point test at any database you generally care about

#testcontainer.cwms.bypass.url=jdbc:oracle:thin:@localhost:1521/FEATURES?oracle.net.disableOob=true
#testcontainer.cwms.bypass.sys.pass=vmwaresys
#testcontainer.cwms.bypass.cwms.pass=test
#testcontainer.cwms.bypass.office.id=HQ
## eroc must be lower case.
#testcontainer.cwms.bypass.office.eroc=l2
#testcontainer.cwms.bypass.network=database_net

## Turns on messaging via Oracle AQ/ArtemisMQ/Apache Camel
## - make sure to increase number of connections in pool to support queues
#cwms.data.api.messaging.enabled=true