---
jwt_secret: a_very_important_secret
server:
  path: ""
log:
  ## Level of verbosity for logs: info, debug, trace.
  level: debug
session:
  name: cwms_session
  domain: cwms.localhost
  same_site: lax
  secret: unsecure_session_secret
  expiration: 1h
  inactivity: 5m
  remember_me_duration: 1M
storage:
  encryption_key: this_is_a_test_system
  local:
    path: /data/db.sqlite3
access_control:
  default_policy: deny
  rules:
    - domain: "*.localhost"
      policy: one_factor
notifier:
  disable_startup_check: false
  filesystem:
    filename: /dev/stdout
authentication_backend:
  file:
    path: /config/users.yaml
    watch: false
    search:
      email: false
      case_insensitive: true
    password:
      algorithm: argon2
      argon2:
        variant: argon2id
        iterations: 3
        memory: 65536
        parallelism: 4
        key_length: 32
        salt_length: 16
      scrypt:
        iterations: 16
        block_size: 8
        parallelism: 1
        key_length: 32
        salt_length: 16
      pbkdf2:
        variant: sha512
        iterations: 310000
        salt_length: 16
      sha2crypt:
        variant: sha512
        iterations: 50000
        salt_length: 16
      bcrypt:
        variant: standard
        cost: 12
identity_providers:
  oidc:
    # This is a test never to be used for a production system.
    issuer_private_key: |
      -----BEGIN RSA PRIVATE KEY-----                                                                                                                    
      MIIEpAIBAAKCAQEAxywMcLYkBwjJq2ux4P36rycniq3iLJ9VFZP/MQ5O/2/U5FvO                                                                                   
      Sj779hq0c7Ip2zU6Qvxh362OkmdI65B1zC/Gyp96LK4eLHTmHC7PlqQtdsNfSBBZ                                                                                   
      ArKlnNDU2QUk+VsG169usb3VSiLX+Mcedg14KybP4hOmTUJ+YGp6bXr0ZSSn0PXd                                                                                   
      7Nkq6ogvK8k9OdRFJpBzYNUJSplYAuqqidAf2H/kF4wF08F1b806QD5W0TR6MbYh                                                                                   
      IPIimDlUUWrMr/UFaHdYhXiUciym3bqrOvI2H3ze1sXh41cvm/4ePVqYwiaCbg6M                                                                                   
      sOcICNMmInpyL4ACn5uA8ENlY0rdnC67v7mb+wIDAQABAoIBAFyqHsOVyl9HdGR/                                                                                   
      v4uZPrec9OWtjswJ+VEHwTP2n0RyqE7yc6DRevJ+bDRj0Nt/ATNHLtYdbnao/SEz                                                                                   
      3cp48/kzh2kgPUObw6+bC9PfYJOfxEXH7VG3AhxagJzTqucktaNFqK+jTYenfGnv                                                                                   
      Yjm0fJM/BHr/f2D0rc133KvxB6HCQP2iN4aE9lX8WZLMEZGzwWlnbgGHbzDZMBnt                                                                                   
      bj6BzOF2Zd/EaQm2eo4uXOR75FUdhrpHgk0Nq3wpOmlOHKNuAmgMwrrZTVhotie0                                                                                   
      4LGfwkdq/bKliEcXBCBjH7itgJfHYMLMKWeBLqR4257Pmp6ccPOg4r5p78k2DBc1                                                                                   
      eFbiCMECgYEA35Orxkr38Gwz5gjnBahOKX7wZAIwSS6hIVbBsA2VDBBYw79hu1Mc                                                                                   
      y7Mp8Z/8x/JxeUgmtbRH8tsS0yioY2l/AwiiWJHnNPu5fIvTLUl92IkKi2stMLRU                                                                                   
      9iikRD+EljtloYDq99Jf3RpkaiFPT8J+wMlLBR8sMJAw9cqg/Wv896ECgYEA5A5Y                                                                                   
      mWBwGmNOL4CVy1jSz+wYZTOYDuLD1xnMRO6zS5IOOsghfD9PasDnVP6WB+5Nw6Yh                                                                                   
      b8TSe3z/5TEvPVfeYV2DayMUgdRiCGwOqfm+9Ku4Nmgz25YQ7qgGXrdGWFJp29hm                                                                                   
      1uw5p8PLO0GDUC6HxZomjSKRPUcvQPsovo0CvhsCgYA8NJfdHfMGWxzepScQ7vGd                                                                                   
      WwGA7NXz3wqk36fosL+iMAS3MaIvv4HRmL2Cw4JelXrZHgTOiW2WiEfZdOljW9VI                                                                                   
      C9sr3p5UNjUMxNppJ5Er7jtYr9PLecQnRWp2tmQN0JDdnMmpUo1eDO1dZvrkj4ty                                                                                   
      fsIk7vAHY8zLY3VWyO2mAQKBgQDPTzc9HcxqQHGXfuUsd68TcYRvoqoMhhkO1RW6                                                                                   
      Z962yKuExd6iqo6P9ZGU0uUhioBIZSGqD5pixSt9deuCcPjnO3G2l6oRpzYCf/AI                                                                                   
      lc3/boZDdxAFAfKccENyIFqi+S/fuGUr5Is4tSRu1kv/PH0RpOJ8k7rBoI8VG/ta                                                                                   
      1KZ0lwKBgQCMeNOREycOtfYq0Zp+XYZs953V0EqpuAMGIPfw/HxItw56SOC16lZm                                                                                   
      m8OG9KHiX2U4ZtjUpS1RUe/SN6YHgpPMGGOCN83qZoZz+OUhbWpvs6AG9AlCk5i1                                                                                   
      oGwCE1Uik8YxQcN1WFqcHJ4pWr10SIp7mdsYJAv7tM7hlp+QdU1Zkg==                                                                                           
      -----END RSA PRIVATE KEY----- 
    hmac_secret: this_is_a_secret_abc123abc123abc
    access_token_lifespan: 1h
    authorize_code_lifespan: 1m
    id_token_lifespan: 1h
    refresh_token_lifespan: 90m
    enable_client_debug_messages: false
    enforce_pkce: public_clients_only
    cors:
      endpoints:
        - authorization
        - token
        - revocation
        - introspection
      allowed_origins:
        - https://cwms-data.localhost
        - htpps://auth.location
      allowed_origins_from_client_redirect_uris: false
    clients:
      - id: cwms
        description: cwms access
        sector_identifier: ''
        secret: ''
        public: true
        authorization_policy: two_factor
        consent_mode: explicit
        pre_configured_consent_duration: 1w
        audience: []
        scopes:
          - openid
          - groups
          - email
          - profile
          - offline_access
        grant_types:
          - refresh_token
          - authorization_code
        response_types:
          - code
        response_modes:
          - form_post
          - query
          - fragment
        userinfo_signing_algorithm: RS256