<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
    <import class="ch.qos.logback.classic.encoder.JsonEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <variable name="APP_NAME" value="${APP_NAME:-app}"/>
    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>
    <contextName>${APP_NAME}</contextName>
    <appender name="STDERR" class="ConsoleAppender">
        <encoder class="JsonEncoder"/>
        <target>System.err</target>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDERR"/>
    </root>
</configuration>