            <link rel="stylesheet" href="./css/HEC.footer.css"/>
            <div style="clear:both;"></div>
            <div class="center">
                <div id="footer-content">
                    <div class="col-0">
                        <div class="footer-title">Our Mission</div>
                        <p>Deliver vital engineering solutions, in collaboration with our partners, to secure our Nation, energize our economy, and reduce disaster risk.</p>
                        <div class="footer-title">About the Hydrologic Engineering Center</div>
                        <p>
                            The official public website of the U.S. Army Corps of Engineers Hydrologic
                                        Engineering Center (HEC). For website corrections,
                                        write to Webmaster-HEC@usace.army.mil.
                        </p>
                    </div>
                    <div class="col-1">
                        <div class="footer-links">
                            <div class="social-icons">
                                <ul>
                                <li><a href="http://www.facebook.com/USACEHQ" title="Facebook" target="_blank"
                                        rel="noopener"><span class="social-icon fab fa-facebook"></span></a></li>
                                <li><a href="http://twitter.com/#!/USACE_HQ" title="Twitter" target="_blank" rel="noopener"><span
                                            class="social-icon fab fa-twitter"></span></a></li>
                                <li><a href="http://www.youtube.com/CORPSCONNECTION" title="YouTube" target="_blank"
                                        rel="noopener"><span class="social-icon fab fa-youtube-square"></span></a></li>
                                <li><a href="http://www.flickr.com/photos/usacehq" title="Flickr" target="_blank"
                                        rel="noopener"><span class="social-icon fab fa-flickr"></span></a></li>
                                </ul>
                            </div>
                            <div class="footer-title"></div>
                            <div class="footer-text-links link-rows">
                                <ul>
                                <li><a class="f-link" href="https://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx"
                                    title="Accessibility" target="_blank" rel="noopener">
                                    <div>Accessibility</div></a></li>
                                <li><a class="f-link" href="https://www.hec.usace.army.mil/contact/" title="Contact Us">
                                    <div>Contact Us</div></a></li>
                                <li><a class="f-link" href="https://www.usace.army.mil/InformationQualityAct.aspx"
                                    title="Information Quality Act" target="_blank" rel="noopener">
                                    <div>Quality Facts</div></a></li>
                                <li><a class="f-link" href="https://www.usace.army.mil/LinkDisclaimer.aspx"
                                    title="Link Disclaimer" target="_blank" rel="noopener">
                                    <div>Link Disclaimer</div></a></li>
                                <li><a class="f-link" href="https://prhome.defense.gov/nofear" title="No Fear Act"
                                    target="_blank" rel="noopener">
                                    <div>No Fear Act</div></a></li>
                                <li><a class="f-link" href="https://www.usace.army.mil/PrivacyandSecurity.aspx"
                                    title="Privacy &amp; Security" target="_blank" rel="noopener">
                                    <div>Privacy & Security</div></a></li>
                                <li><a class="f-link" href="https://www.hec.usace.army.mil/sitemap/default.aspx" title="Site Map">
                                    <div>Site Map</div></a></li>
                                <li><a class="f-link" href="https://www.usa.gov/" title="USA.gov" target="_blank"
                                    rel="noopener">
                                    <div>USA.gov</div></a></li>
                                <li><a class="f-link" href="http://www.esd.whs.mil/DD/plainlanguage" title="Plain Language"
                                    target="_blank" rel="noopener">
                                    <div>Plain Language</div></a></li>
                                <li><a class="f-link" href="https://open.defense.gov/"
                                    title="Honest Leadership and Open Government Act" target="_blank" rel="noopener">
                                    <div>Open Government</div></a></li>
                                <li><a class="f-link" href="https://www.usace.army.mil/Careers/EEO/"
                                    title="U.S. Army Corps of Engineers Equal Opportunity &amp; The Army's Sexual Harassment/Assault Response and Prevention (SHARP) Program"
                                    target="_blank" rel="noopener">
                                    <div>EEO & SHARP</div></a></li>
                                <li><a class="f-link"
                                    href="https://www.usace.army.mil/Business-With-Us/Small-Business/"
                                    title="U.S. Army Corps of Engineers Small Business Support"
                                    target="_blank" rel="noopener">
                                    <div>Small Business</div></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="footer-text-links offsite-links">
                            <a href="https://www.army.mil" target="_blank" rel="noopener">
                                <img style="max-width: 65px; margin-bottom: 16px;" src="./images/army-logo-color.svg">
                            </a>
                            <ul>
                                <li><a class="f-link" href="https://www.usace.army.mil/Engineer-Inspector-General/"
                                    title="U.S. Army Corps of Engineers Inspector General" target="_blank" rel="noopener">
                                    <div>IG</div></a></li>
                                <li><a class="f-link" href="http://www.usace.army.mil/FOIA.aspx"
                                    title="U.S. Army Corps of Engineers Freedom of Information ">
                                    <div>FOIA</div></a></li>
                                <li><a class="f-link" href="https://www.inscom.army.mil/isalute/" title="iSALUTE" target="_blank"
                                    rel="noopener">
                                    <div>iSALUTE</div></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <img id="essayons" alt="Essaysons, let us try!" title="Essaysons, let us try!"
                src="./images/essayonscrest.png">
