<?xml version="1.0" encoding="UTF-8"?>
<Context cookies="true">
    <Resource name="jdbc/CWMS3" auth="Container" type="javax.sql.DataSource"
              username="${CDA_JDBC_USERNAME}" password="${CDA_JDBC_PASSWORD}"
              url="${CDA_JDBC_URL}"
              driverClassName="oracle.jdbc.OracleDriver"
              initialSize="${CDA_POOL_INIT_SIZE}" maxWait="10000"
              maxActive="${CDA_POOL_MAX_ACTIVE}" maxIdle="${CDA_POOL_MAX_IDLE}"
              minIdle="${CDA_POOL_MIN_IDLE}"
              validationQuery="select 1 from dual"
              validationQueryTimeout="1"              
              removeAbandonedOnBorrow="true"
              removeAbandonedTimeout="10"
              testOnBorrow="true"
              testOnConnect="true"
              testWhileIdle="true"
              timeBetweenEvictionRunsMillis="5000"
              removeAbandonedOn="true"
              logValidationErrors="true"
              suspectTimeout="15"
              jdbcInterceptors="QueryTimeoutInterceptor(queryTimeout=600);StatementFinalizer(trace=true);StatementCache(callable=true);SlowQueryReport(threshold=5000);ResetAbandonedTimer"
              logAbandoned="true"
              maxAge="3600000"
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
    />

    <ResourceLink
        name="jdbc/CWMS3"
        global="jdbc/CWMS3"
        type="javax.sql.DataSource"
    />
    <JarScanner scanBootstrapClassPath="false" scanClassPath="false"/>    
</Context>